<p-scrollPanel [style]="{height: '100vh'}">

    <div [ngStyle]="{backgroundColor:'var(--gray-50)'}" class="p-1">
        <p-chip label="{{this.layoutService.getNomeUsuarioLogado()}}" icon="pi pi-user" styleClass="ml-2 mr-2"></p-chip>
    </div>

    
<ul class="layout-menu">
    
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <!-- <li>
        <a href="https://www.primefaces.org/primeblocks-ng/#/">
            <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'banner-primeblocks' : 'banner-primeblocks-dark'}}.png" alt="Prime Blocks" class="w-full mt-3"/>
        </a>
    </li> -->
</ul>
</p-scrollPanel>