<div @fade>
  <div class="row">
    <!-- <p-card *ngIf="!pesquisaProduto">
      <ng-template pTemplate="header">
        <div class="card-header card-header-1 "
          style="line-height: 35px; padding-left: 10px;   border-radius: 5px 5px 0 0">
          <i class="pi pi-caret-right"></i> {{this.tituloPagina}}
        </div>
      </ng-template>

      <div class="">
        <form>
          <div class="row mb-1">
            <label for="inputEmail3" class="col-auto col-form-label">Nome:</label>
            <div class="col-sm-3">
              <input type="text" class="form-control form-control-sm" id="inputEmail3">
            </div>
            <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Incluir Inativos
                </label>
              </div>
            </div>
          </div>

          <div class="">
            <button pButton pRipple type="button" label="Novo" icon="pi pi-plus"
              class="p-button-raised p-button-default me-1" (click)="novo_click();"
              [routerLink]="['/usuarios/0']"></button>
          </div>
        </form>
      </div>
    </p-card>
    <div class="m-2"></div> -->

    <p-card #plnTable>
      <ng-template pTemplate="header" *ngIf="!pesquisaProduto">
        <div class="card-header card-header-1 "
          style="line-height: 35px; padding-left: 10px;   border-radius: 5px 5px 0 0">
          <i class="pi pi-table"></i> LISTAGEM DE {{this.tituloPagina}}
        </div>
      </ng-template>

      <p-table #dt1 [value]="records" styleClass="p-datatable-striped p-datatable-gridlines" [lazy]="true"
        (onLazyLoad)="loadRecords($event)" responsiveLayout="scroll" dataKey="id" [selection]="selectedRecords"
        (selectionChange)="onSelectionChange($event)" [selectAll]="selectAllRecords"
        (selectAllChange)="onSelectAllChange($event)" [paginator]="true" [rows]="defaultRow"
        [totalRecords]="totalRecords" sortField="nome" [globalFilterFields]="['codigo','nome', 'descricao']">
        <ng-template pTemplate="caption">
          <div class="displayFilter">
            <button *ngIf="!pesquisaProduto" pButton pRipple type="button" label="Novo" icon="pi pi-plus"
              class="p-button-raised p-button-default" (click)="novo_click()"></button>

            <div class="displayFilter pl-3 pr-3">
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="form-control form-control-sm" (input)="onGlobalFilter(dt1, $event)"
                  placeholder="Pesquisar" />
              </span>
            </div>

            <button pButton label="Limpar filtro de pesquisa" class="p-button-outlined pl-3 pr-3"
              icon="pi pi-filter-slash" (click)="clear(dt1)"></button>

          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 12%;" pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon>
            </th>
            <th style="width: 30%;" pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon>
            </th>
            <th style="width: 30%;" pSortableColumn="preco">Preço <p-sortIcon field="preco"></p-sortIcon>
            </th>
            <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon>
            </th>
            <th pSortableColumn="ativo"  style="text-align: center;">Situação <p-sortIcon field="ativo"></p-sortIcon> </th>
            <th style="width: 8%;">Ação</th>
          </tr>
          <tr *ngIf="tableFilter">
            <th>
              <p-columnFilter type="text" field="codigo" [matchMode]="'custom-equals'" locale="pt-br"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="nome"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="preco"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="descricao"></p-columnFilter>
            </th>
            <th  style="text-align: center;">
              <div>
                <p-columnFilter type="boolean" field="ativo" matchMode="equals"></p-columnFilter>
              </div>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
          <tr>
            <td>{{record.codigo}}</td>
            <td>{{record.nome}}</td>
            <td>{{record.preco | currency:'BRL':true:'1.2-2'}}</td>
            <td>{{record.descricao}}</td>
            <td style="text-align: center;">              
              <span *ngIf="record.ativo ===true" class="badge bg-success p-2 ">              
                {{record.situacao}}
              </span>
              <span *ngIf="record.ativo ===false" class="badge bg-danger p-2">
                {{record.situacao}}
              </span>
            </td>
            <td>
              <button *ngIf="!pesquisaProduto" pButton pRipple icon="pi pi-pencil"
                class="p-button-rounded p-button-warning   p-button-text  mr-2" (click)="edit(record)"></button>
              <button *ngIf="!pesquisaProduto" pButton pRipple icon="pi pi-trash"
                class="p-button-rounded  p-button-danger  p-button-text"
                (click)="deleteConfirm($event,record)"></button>

              <button *ngIf="pesquisaProduto" type="button" pButton icon="pi pi-search"
                (click)="selectProduct(record)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>

  <p-blockUI [blocked]="loading" [target]="plnTable">
    <!-- <i class="pi pi-lock" style="font-size: 3rem"></i> -->
  </p-blockUI>
  <p-confirmPopup [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'400ms'"></p-confirmPopup>