.btnAbrirCaixa{
    margin-top: 26px;
}


.p-inputgroup-addon {
    background: #f3f2f1;
    color: #605e5c;
    border-top: 1px solid #f3f2f1;
    border-left: 1px solid #f3f2f1;
    border-bottom: 1px solid #f3f2f1;
    padding: 0.5rem 0.5rem;
    min-width: 2.357rem;
}

.campos-abertura {
    background-color: #84ff7f;
    color: #337600;
}